In [9]:
# Import Dependencies
import pandas as pd

In [10]:
bitcoin_csv = "Resources/bitcoin_cash_price.csv"
dash_csv = "Resources/dash_price.csv"

In [11]:
bitcoin_df = pd.read_csv(bitcoin_csv)
dash_df = pd.read_csv(dash_csv)
bitcoin_df.head()

        Date    Open    High     Low   Close       Volume     Market Cap
0  17-Sep-17  438.90  438.90  384.06  419.86  221828000.0  7,279,520,000
1  16-Sep-17  424.49  450.98  388.20  440.22  313583000.0  7,039,590,000
2  15-Sep-17  369.49  448.39  301.69  424.02  707231000.0  6,126,800,000
3  14-Sep-17  504.22  510.47  367.04  367.04  257431000.0  8,359,650,000
4  13-Sep-17  509.47  519.20  471.22  503.61  340344000.0  8,445,540,000

In [12]:
dash_df.head()

        Date    Open    High     Low   Close      Volume     Market Cap
0  17-Sep-17  298.59  315.58  278.17  313.84  38081600.0  2,257,850,000
1  16-Sep-17  284.50  301.23  276.57  298.86  43702600.0  2,150,800,000
2  15-Sep-17  236.05  300.11  220.51  284.36  72695500.0  1,784,040,000
3  14-Sep-17  301.11  303.74  236.24  236.24  35013800.0  2,275,100,000
4  13-Sep-17  324.72  325.16  287.25  301.29  28322500.0  2,452,930,000

In [14]:
# Merge the two DataFrames together based on the Dates they share
merged_df = pd.merge(bitcoin_df, dash_df, on='Date', suffixes=('_bitcoin', '_dash'))
merged_df.head()

,Date,Open_bitcoin,High_bitcoin,Low_bitcoin,Close_bitcoin,Volume_bitcoin,Market Cap_bitcoin,Open_dash,High_dash,Low_dash,Close_dash,Volume_dash,Market Cap_dash
0,17-Sep-17,438.90,438.90,384.06,419.86,221828000.0,"7,279,520,000",298.59,315.58,278.17,313.84,38081600.0,"2,257,850,000"
1,16-Sep-17,424.49,450.98,388.20,440.22,313583000.0,"7,039,590,000",284.50,301.23,276.57,298.86,43702600.0,"2,150,800,000"
2,15-Sep-17,369.49,448.39,301.69,424.02,707231000.0,"6,126,800,000",236.05,300.11,220.51,284.36,72695500.0,"1,784,040,000"
3,14-Sep-17,504.22,510.47,367.04,367.04,257431000.0,"8,359,650,000",301.11,303.74,236.24,236.24,35013800.0,"2,275,100,000"
4,13-Sep-17,509.47,519.20,471.22,503.61,340344000.0,"8,445,540,000",324.72,325.16,287.25,301.29,28322500.0,"2,452,930,000"

In [ ]:
# Rename columns so that they are differentiated

In [ ]:
# alternatively you can set your suffixes when the merge occurs

In [16]:
# Collecting best open for Bitcoin and Dash
bitcoin_open = merged_df['Open_bitcoin'].max()
dash_open = merged_df['Open_dash'].max()
# Collecting best close for Bitcoin and Dash
bitcoin_close = merged_df['Close_bitcoin'].max()
dash_close = merged_df['Close_dash'].max()

# Collecting the total volume for Bitcoin and Dash
bitcoin_vol = merged_df['Volume_bitcoin'].sum()
dash_vol = merged_df['Volume_dash'].sum()

In [18]:
# Creating a summary DataFrame using above values
#Best Bitcoin Open, Best Dash Open, Best Bitcoin Close, Best Dash Close, Total Bitcoin Volume, Total Dash Volume
pd.DataFrame({
    'Best Bitcoin Open': [bitcoin_open],
    'Best Dash Open': [dash_open],
    'Best Bitcoin Close': [bitcoin_close],
    'Best Dash Close': [dash_close],
    'Total Bitcoin Volume in Millions': [round(bitcoin_vol/1000000, 2)],
    'Total Dash Volume in Millions': [round(dash_vol/1000000, 2)]
})

,Best Bitcoin Open,Best Dash Open,Best Bitcoin Close,Best Dash Close,Total Bitcoin Volume in Millions,Total Dash Volume in Millions
0,772.42,400.42,754.56,399.85,24383.05,2960.28