In [1]:
import pandas as pd

In [2]:
names=['Harini.s',
'Sohan.r',
'Nicholas.m',
'Ariel.b',
'Eleanor.e',
'Sai.v',
'Rishika.h',
'Ariella.r',
'Kesav.n',
'Maegan.m',
'Kishan.n',
'Isaac.o',
'Nehemiah.h',
'Carsyn.c',
'William.c',
'Albert.b',
'Lucas.l',
'Hosea.p',
'Emily.d',
'Angelica.d',
'Avery.a',
'Advaith.v',
'Connor.c',
'Owen.m',
'Weibo.w']

In [7]:
df=pd.DataFrame(names)
df

             0
0     Harini.s
1      Sohan.r
2   Nicholas.m
3      Ariel.b
4    Eleanor.e
5        Sai.v
6    Rishika.h
7    Ariella.r
8      Kesav.n
9     Maegan.m
10    Kishan.n
11     Isaac.o
12  Nehemiah.h
13    Carsyn.c
14   William.c
15    Albert.b
16     Lucas.l
17     Hosea.p
18     Emily.d
19  Angelica.d
20     Avery.a
21   Advaith.v
22    Connor.c
23      Owen.m
24     Weibo.w

In [9]:
df.to_csv('names.csv')