In [1]:
import pandas as pd
import os

In [2]:
# The path to our CSV file
file_path = os.path.join('Resources','KickstarterData.csv')
# Read our Kickstarter data into pandas
ks_df = pd.read_csv(file_path)
ks_df.head()

,id,photo,name,blurb,goal,pledged,state,slug,disable_communication,country,...,location,category,profile,spotlight,urls,source_url,friends,is_starred,is_backing,permissions
0,1645666704,"{""small"":""https://ksr-ugc.imgix.net/assets/012...",The Class Act Players Theatre Company Presents...,The Class Act Players put on another one of th...,1500.0,2925.0,successful,the-class-act-players-theatre-company-presents...,False,US,...,"{""country"":""US"",""urls"":{""web"":{""discover"":""htt...","{""urls"":{""web"":{""discover"":""http://www.kicksta...","{""background_image_opacity"":0.8,""should_show_f...",True,"{""web"":{""project"":""https://www.kickstarter.com...",https://www.kickstarter.com/discover/categorie...,NaN,NaN,NaN,NaN
1,874638240,"{""small"":""https://ksr-ugc.imgix.net/assets/012...",MR INCREDIBLE by Camilla Whitehill - VAULT Fes...,"A brand new play about love and entitlement, b...",2500.0,2936.0,successful,mr-incredible-by-camilla-whitehill-vault-festival,False,GB,...,"{""country"":""GB"",""urls"":{""web"":{""discover"":""htt...","{""urls"":{""web"":{""discover"":""http://www.kicksta...","{""background_image_opacity"":0.8,""should_show_f...",True,"{""web"":{""project"":""https://www.kickstarter.com...",https://www.kickstarter.com/discover/categorie...,NaN,NaN,NaN,NaN
2,247074984,"{""small"":""https://ksr-ugc.imgix.net/assets/012...",RUN,Yonni's pissed off in a world filled with scho...,1000.0,1200.0,successful,run-10,False,GB,...,"{""country"":""GB"",""urls"":{""web"":{""discover"":""htt...","{""urls"":{""web"":{""discover"":""http://www.kicksta...","{""background_image_opacity"":0.8,""should_show_f...",True,"{""web"":{""project"":""https://www.kickstarter.com...",https://www.kickstarter.com/discover/categorie...,NaN,NaN,NaN,NaN
3,1941196813,"{""small"":""https://ksr-ugc.imgix.net/assets/012...",9th International Meeting of Youth Theatre sap...,27. April bis 1. Mai 2016 in Brixen/Südtirol/I...,2000.0,2135.0,successful,9th-international-meeting-of-youth-theatre-sap...,False,IT,...,"{""country"":""IT"",""urls"":{""web"":{""discover"":""htt...","{""urls"":{""web"":{""discover"":""http://www.kicksta...","{""background_image_opacity"":0.8,""should_show_f...",True,"{""web"":{""project"":""https://www.kickstarter.com...",https://www.kickstarter.com/discover/categorie...,NaN,NaN,NaN,NaN
4,421961595,"{""small"":""https://ksr-ugc.imgix.net/assets/012...",Get Conti to the Ed Fringe!,The Italia Conti 2nd years are going to Ed Fri...,1000.0,1250.0,successful,get-conti-to-the-ed-fringe,False,GB,...,"{""country"":""GB"",""urls"":{""web"":{""discover"":""htt...","{""urls"":{""web"":{""discover"":""http://www.kicksta...","{""background_image_opacity"":0.8,""should_show_f...",True,"{""web"":{""project"":""https://www.kickstarter.com...",https://www.kickstarter.com/discover/categorie...,NaN,NaN,NaN,NaN

In [3]:
# Get a list of all of our columns for easy reference
ks_df.columns

Index(['id', 'photo', 'name', 'blurb', 'goal', 'pledged', 'state', 'slug',
       'disable_communication', 'country', 'currency', 'currency_symbol',
       'currency_trailing_code', 'deadline', 'state_changed_at', 'created_at',
       'launched_at', 'staff_pick', 'is_starrable', 'backers_count',
       'static_usd_rate', 'usd_pledged', 'creator', 'location', 'category',
       'profile', 'spotlight', 'urls', 'source_url', 'friends', 'is_starred',
       'is_backing', 'permissions'],
      dtype='object')

In [4]:
# Extract "name", "goal", "pledged", "state", "country", "staff_pick",
# "backers_count", and "spotlight"
ks_df = ks_df[["name", "goal", "pledged", "state", "country", "staff_pick","backers_count", "spotlight"]]
ks_df.head()

,name,goal,pledged,state,country,staff_pick,backers_count,spotlight
0,The Class Act Players Theatre Company Presents...,1500.0,2925.0,successful,US,False,17,True
1,MR INCREDIBLE by Camilla Whitehill - VAULT Fes...,2500.0,2936.0,successful,GB,True,15,True
2,RUN,1000.0,1200.0,successful,GB,False,30,True
3,9th International Meeting of Youth Theatre sap...,2000.0,2135.0,successful,IT,False,24,True
4,Get Conti to the Ed Fringe!,1000.0,1250.0,successful,GB,False,28,True

In [5]:
ks_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4120 entries, 0 to 4119
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           4120 non-null   object
 1   goal           4120 non-null   float64
 2   pledged        4120 non-null   float64
 3   state          4120 non-null   object
 4   country        4120 non-null   object
 5   staff_pick     4120 non-null   bool
 6   backers_count  4120 non-null   int64
 7   spotlight      4120 non-null   bool
dtypes: bool(2), float64(2), int64(1), object(3)
memory usage: 201.3+ KB

In [6]:
# Remove projects that made no money at all
ks_df = ks_df.loc[ks_df['pledged'] > 0]
ks_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3307 entries, 0 to 4119
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           3307 non-null   object
 1   goal           3307 non-null   float64
 2   pledged        3307 non-null   float64
 3   state          3307 non-null   object
 4   country        3307 non-null   object
 5   staff_pick     3307 non-null   bool
 6   backers_count  3307 non-null   int64
 7   spotlight      3307 non-null   bool
dtypes: bool(2), float64(2), int64(1), object(3)
memory usage: 187.3+ KB

In [7]:
# Collect only those projects that were hosted in the US
# Create a list of the columns
# Create a new df for "US" with the columns above. 
ks_us_df = ks_df.loc[ks_df['country'] == 'US']
ks_us_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2129 entries, 0 to 4118
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           2129 non-null   object
 1   goal           2129 non-null   float64
 2   pledged        2129 non-null   float64
 3   state          2129 non-null   object
 4   country        2129 non-null   object
 5   staff_pick     2129 non-null   bool
 6   backers_count  2129 non-null   int64
 7   spotlight      2129 non-null   bool
dtypes: bool(2), float64(2), int64(1), object(3)
memory usage: 120.6+ KB

In [9]:
# Create a new column that finds the average amount pledged to a project
ks_us_df.loc[:, 'avg_per_backer'] = ks_us_df['pledged'] / ks_us_df['backers_count']

/Users/sirisurab/anaconda3/envs/PythonData/lib/python3.8/site-packages/pandas/core/indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [10]:
ks_us_df.head()

,name,goal,pledged,state,country,staff_pick,backers_count,spotlight,avg_per_backer
0,The Class Act Players Theatre Company Presents...,1500.0,2925.0,successful,US,False,17,True,172.058824
8,Forefront Festival 2015,7200.0,7230.0,successful,US,False,68,True,106.323529
11,Hamlet the Hip-Hopera,9747.0,10103.0,successful,US,True,132,True,76.537879
14,Pride Con,15000.0,15110.0,successful,US,False,60,True,251.833333
15,En Garde Arts Emerging Artists Festival BOSSS,10000.0,10306.0,successful,US,True,80,True,128.825000

In [11]:
# First convert "average_donation", "goal", and "pledged" columns to float
# Then Format to go to two decimal places, include a dollar sign, and use comma notation
ks_us_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2129 entries, 0 to 4118
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   name            2129 non-null   object
 1   goal            2129 non-null   float64
 2   pledged         2129 non-null   float64
 3   state           2129 non-null   object
 4   country         2129 non-null   object
 5   staff_pick      2129 non-null   bool
 6   backers_count   2129 non-null   int64
 7   spotlight       2129 non-null   bool
 8   avg_per_backer  2129 non-null   float64
dtypes: bool(2), float64(3), int64(1), object(3)
memory usage: 137.2+ KB

In [12]:
ks_us_df['avg_per_backer'] = ks_us_df['avg_per_backer'].map('${:,.2f}'.format)
ks_us_df.head()

<ipython-input-12-5a9e089bb692>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ks_us_df['avg_per_backer'] = ks_us_df['avg_per_backer'].map('${:,.2f}'.format)

,name,goal,pledged,state,country,staff_pick,backers_count,spotlight,avg_per_backer
0,The Class Act Players Theatre Company Presents...,1500.0,2925.0,successful,US,False,17,True,$172.06
8,Forefront Festival 2015,7200.0,7230.0,successful,US,False,68,True,$106.32
11,Hamlet the Hip-Hopera,9747.0,10103.0,successful,US,True,132,True,$76.54
14,Pride Con,15000.0,15110.0,successful,US,False,60,True,$251.83
15,En Garde Arts Emerging Artists Festival BOSSS,10000.0,10306.0,successful,US,True,80,True,$128.82

In [ ]:
# ks_us_df['goal'] = ks_us_df['goal'].astype('float')

In [13]:
# Calculate the total number of backers for all US projects
ks_us_df['backers_count'].sum()

89273

In [14]:
# Calculate the average number of backers for all US projects
ks_us_df['backers_count'].mean()

41.931892907468296

In [15]:
# Collect only those US campaigns that have been picked as a "Staff Pick"
ks_us_staffpicks_df = ks_us_df.loc[ks_us_df['staff_pick']]

In [17]:
# Group by the state of the campaigns and see if staff picks matter
ks_us_df.groupby(['state','staff_pick'])['name'].count()

state       staff_pick
canceled    False          210
            True             6
failed      False         1102
            True            21
live        False           11
            True             2
successful  False          630
            True           145
suspended   False            2
Name: name, dtype: int64